.banner {
    height: 100vh;
    overflow: hidden;
    background: no-repeat center url(../img/banners/destaque-bg.png);
    background-size: cover;
    max-height: 1000px;
    padding-top: 100px;
    position: relative;

    @include media-breakpoint-down(sm) {
        text-align: center;
    }

    @include media-breakpoint-down(xs) {
        padding-top: 15px;
    }

    .container, .row{
        height: 100%;
    }

    .conteudo{

        margin: auto;

        h2, p{
            color: #fff;
        }

        p{
            font-size: 17px;

            @include media-breakpoint-down(sm) {
                font-size: 15px;
            }

            @include media-breakpoint-down(sm) {
                font-size: 14px;
            }
        }

        .cta{
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
    }

    .imagens{
        height: calc(100vh - 100px);
        position:relative;
        text-align: right;

        .menina{
            max-height: 100%;
            margin-left: -55px;
            @include media-breakpoint-down(md) {
                margin-left: -115px;
            }
        }

        .menino{
            max-height: 100%;
            position: absolute;
            right: 20px;
            bottom: 0;
        }
    }
}
