.valores {
    background: #e5e5e5;
    padding-bottom: 100px;
    padding-top: 70px;
    position: relative;

    @include media-breakpoint-down(sm) {
        padding-top: 35px;
    }

    .cta {
        margin-top: 40px;
        padding-left: 50px;
        padding-right: 50px;

        @include media-breakpoint-down(lg) {
            margin-top: 0;
        }
        @include media-breakpoint-down(md) {
            margin-top: 10px;
        }
    }

    h2{
        margin-bottom: 35px;
        @include media-breakpoint-down(lg) {
            margin-bottom: 10px;
        }
        @include media-breakpoint-down(md) {
            margin-bottom: 20px;
        }
    }

    .blocos {
        display: block;
        text-align: center;

        @include media-breakpoint-down(lg) {
            margin-top: 20px;
            .bloco {
                transform: scale(0.8);
                margin-left: 0;
                margin-right: -20px;
                margin-top: 0;
                margin-bottom: -20px;
            }
        }

        @include media-breakpoint-down(md) {
            display: flex;
            margin-top: 0;
            .bloco {
                transform: scale(0.7);
                margin-left: -15px;
                margin-right: -40px;
                margin-top: 10px;
            }
        }

        @include media-breakpoint-down(sm) {
            display: block;
            margin-top: 30px;

            .bloco {
                float: none;
                margin-left: -25px;
                margin-right: -20px;
                margin-top: -15px;
            }
        }

        @include media-breakpoint-down(xs) {

            .cta {
                margin: auto;
            }

            margin-top: 40px;
            .bloco {
                transform: scale(.6);
                margin-left: -35px;
                margin-right: -35px;
                margin-top: -35px;
                margin-bottom: -80px;
            }
        }

        .bloco {
            width: 225px;
            height: 225px;
            display: inline-block;
            float: right;
            margin-top: 25px;
            margin-left: 25px;


            .borda {
                z-index: 1;
                background: no-repeat center url(../img/icos/bloco-verde-borda.svg);
                width: 218px;
                height: 218px;
                margin-top: -225px;
            }

            .corpo {
                background: no-repeat center url(../img/icos/bloco-verde.svg);
                width: 218px;
                height: 218px;
                margin-left: 7px;
                margin-top: 7px;
                text-align: center;
                padding: 30px 30px 20px;

                h2 {
                    text-align: center;
                    font-size: 16px;
                    color: #fff;
                }

                .icone {
                    width: 80px;
                    height: auto;
                }
            }
        }
    }
}
