@font-face {
    font-family: 'Gotham-Black';
    src: url('../../dist/fonts/Gotham-Black.otf') format('opentype');
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url('../../dist/fonts/Gotham-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Gotham-BookItalic';
    src: url('../../dist/fonts/Gotham-BookItalic.otf') format('opentype');
}
 
@font-face {
    font-family: 'Gotham-Light';
    src: url('../../dist/fonts/Gotham-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Gotham-Thin';
    src: url('../../dist/fonts/Gotham-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'Gotham-ThinItalic';
    src: url('../../dist/fonts/Gotham-ThinItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Gotham-UltraItalic';
    src: url('../../dist/fonts/Gotham-UltraItalic.otf') format('opentype');
}
 
@font-face {
    font-family: 'Gotham-XLight';
    src: url('../../dist/fonts/Gotham-XLight.otf') format('opentype');
}
@font-face {
    font-family: 'Gotham-XLightItalic';
    src: url('../../dist/fonts/Gotham-XLightItalic.otf') format('opentype');
}
